.dynamic-text {
  position: relative;
  display: flex;

  #text-target {
    display: flex;
    width: 300px;
    text-align: left;
    animation: color 30s alternate infinite;
    perspective: 200px;
    transform: translateX(26px);
  }
  .word {
    position: absolute;
  }
  @keyframes color {
    0% {
      color: rgba(213, 67, 96, 0.955);
      // color: blue;
    }
    50% {
      color: #497b17;
      // color: #ec006e;
    }
    100% {
      color: rgb(255, 0, 0);
      // color: blue;
    }
  }
  .letter {
    transform: translateZ(200px);
  }
  @keyframes anim {
    25% {
      transform: translateZ(0px);
      opacity: 1;
    }
    32% {
      opacity: 0;
      transform: translateZ(-280px) translateX(200px);
    }
  }
}
